.landing_container{

}
.nav{
    display:flex;
    justify-content:space-between;
}
.hands{
    margin-top: 120px;
    position: absolute;
  left: 0;
  right: 0;
}
.hands img{
    width: 100%;
    height: auto;
    display: block;
}
.join{
    text-align: center;   
}
.card_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin-top:40%;
  }
  
  .card {
    flex: 1 1 300px;
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }